/* start global rules */
:root {
  --main-color: #fc674f;
  --main-tranition: 0.3s;
  --section-padding: 80px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 18px;
}
.container {
  margin: 0 auto;
}
h1 {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
h2,
h3 {
  color: #303030;
  font-family: 'Open Sans', sans-serif;
}
p {
  color: #818181;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start component */
.button {
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--main-color);
  color: white;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: var(--main-tranition);
}
.section-heading {
  text-align: center;
  text-transform: capitalize;
}
.section-heading h2 {
  margin-bottom: 10px;
}
/* end component */
/* start header */
header {
  background-color: #333333;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
@media (max-width: 767px) {
  header .container {
    padding: 5px 15px;
  }
}
header .container i {
  font-size: 100px;
  color: white;
}
@media (max-width: 767px) {
  header .container i {
    font-size: 80px;
  }
}
header .container span {
  display: block;
}
header .container .menu span:first-child {
  width: 50px;
  height: 3px;
  background-color: white;
}
header .container .menu span:nth-child(2) {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 10px 0 10px 25px;
  transition: var(--main-tranition);
}
header .container .menu:hover span:nth-child(2) {
  width: 50px;
  margin-left: 0;
}
header .container .menu span:nth-child(3) {
  width: 50px;
  height: 3px;
  background-color: white;
}
@media (max-width: 767px) {
  header .container .menu span:first-child {
    width: 40px;
    height: 2px;
  }
  header .container .menu span:nth-child(2) {
    width: 20px;
    height: 2px;
    margin: 10px 0 10px 20px;
  }
  header .container .menu:hover span:nth-child(2) {
    width: 40px;
    margin-left: 0;
  }
  header .container .menu span:nth-child(3) {
    width: 40px;
    height: 2px;
  }
}
/* end header */
/* start landing */
.landing {
  background-color: #333333;
}
.landing .container {
  padding: 20px;
  text-align: center;
  height: calc(100vh - 140px);
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .landing .container {
    height: calc(100vh - 90px);
  }
}
.landing .container h1 {
  color: white;
  text-transform: uppercase;
  font-size: 70px;
  margin: 0;
}
.landing .container p {
  color: white;
  margin: 60px 0;
  font-size: 25px;
  max-width: 700px;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .landing .container h1 {
    font-size: 55px;
  }
  .landing .container p {
    font-size: 20px;
    margin: 40px;
  }
}
.landing .container .button {
  font-size: 25px;
  padding: 15px 50px;
}
.landing .container .button:hover {
  background-color: #d55643;
}
/* end landing */